// ===========================================================================
// Base App Imports
// ===========================================================================

// Open Sans Google Font import
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "normalize.css";
@import "variables.scss";

// ===========================================================================
// Base App Scaffolding
// ===========================================================================

// The Chris Coyer take of Paul Irish's Box-sizing boilerplate ---------------
// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// General scaffolding -------------------------------------------------------

html,
body {
  background-color: $black-one;
}

.App {
  text-align: center;
  background-image: url("../assets/talent-calc-bg.png");
  background-size: cover;
}

.App-header {
  min-height: 100vh;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: "Open Sans", sans-serif;
  color: white;
}

// Typography ----------------------------------------------------------------

.h1-wrapper {
  width: 75%;
  background: $gray-four;

  .h1 {
    font-size: 27.7px;
  }
}

.h2 {
  font-size: 14.5px;
  text-transform: uppercase;
}
